<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 通过bean配置一个类 -->
	<bean id="helloServiceImpl"
		class="cn.itcast.spring.Demo01.HelloServiceImpl">
		<property name="info" value="传智播客（磁盘路径）"></property>
	</bean>

</beans>